//mobile first implementation, implementing for mobile, expanding for use cases
//that are not mobile
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,700&display=swap');

body {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', arial;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
img{width: 100%;}

.nav-container {
    background: #6700EE;

    a {
        color: white;
    }
}

header {
    display: flex; //puts elements on 2 columns
    justify-content: space-between; //right allign for mobile
    padding: 2em; //whitespace on the inside of the element

    .logo {
        color: #00F7FF;
        font-weight: bold;
    }



    ul {
        display: flex;

        a {
            display: block;
            padding: 0 1em;
        }
    }
}

/*
mobile implementation for social media links (if I ever get around to adding them (maybe gmail,
linkedin would be nice but idfk

.social-header{
    display:none;
}
*/

.hero {
    background: #6E00ff;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;
}

/*
mobile implementation for the little artistic thing we have at the bottom but for the top, again
probably wont bother with this
.hero-design{
    display: none;
}
*/

.meet {
    display: flex;
    margin: 0 auto;
    width: 200px;
    font-weight: bold;
    color: #FF64CB;

    span {
        margin-top: 1em;
        margin-right: .25em; //changed from .5 to 0.25
    }
}

.scroll {
    width: 30px;
    margin-top: 2em;
}

section {
    padding: 4em 2em; //padding takes: arg[0] = top/bot padding, arg[1] = right/left padding
    text-align: center;
}

.featured {
    position: relative;
}
.featured::before {
    content: "";
    position: absolute; //only works if the parent container has position: relative
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #E5D5FA;
    top: 0;
    left: 0;
    z-index: -1;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: #6E00FF;
    letter-spacing: 0.2em;
    font-size: 0.85em;
}

.featured-title {
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -0.4em;
    display: block;
}

.featured-desc {
    color: #252525;
    margin-bottom: 3em;
    font-size: .9em;
    line-height: 1.8em;
    font-weight: 500;
}

.skills {
    background: #FF64CB
}

.skills-container ul li{

    background: white;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;

    .icon-container {
        height: 100px;
        display: grid;
        place-content: center;
        margin: 0 auto;

        &.one {
            width: 120px;
        }
        &.two {
            width: 50px;
        }
        &.three {
            width: 60px;
        }

        .skill-title {
            font-weight: bold;
        }

        .featured-desc {
            margin-bottom: 2em;
        }
    }

    .portfolio {
        background: #F7F7F7;
    }

    .portfolio-container a img {
        border-radius: 1em;
        margin-bottom: 2em;
    }
}

//code only applies to displays over 800px (wide)
@media only screen and (min-width: 800px) {

    .featured, .portfolio {
        text-align: left; //justify text to the left (with margins)
    }
    .featured, .portfolio-container { //rules for these two classes
        display: grid; //sets up side by side format
        grid-template-columns: 40% auto; //takes two args, first arg declares the length of the 1st element, 2nd arg the 2nd element
        margin-bottom: 2em;
    }

    .left, .portfolio-left {
        display: grid;
        place-content: center;
    }

    .right {
        margin-left: 2em;
        margin-top: 1em;
    }

    .skills {
        margin-top: -5em;
        margin-bottom: -7em;
        padding-top: 7em;
    }

    .skills-container ul { //contains unordered list
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
    }

    .portfolio {
        padding-top: 10em; //extend this?
    }

    .portfolio-container img {
        margin-left: 2em;
        margin-top: 2em;
    }
}

@media only screen and (min-width: 1050px) {
    .hero {
        height: 90vh;
    }

    .nav-container {
        display: grid;
        //grid-template-columns: 66% auto; //comment this to fix up nav bar positioning (assuming no social elements)
        background: unset; //comment this out to fix the nav bar
        
        header {
            background: #6700EE;
        }
    }
    header {
        padding: 2em 2em 2em 4em; //top bottom left right
    }
    .social-header {
        padding: 2em 4em 2em 0; //top bottom left right
    }
    section {
        padding: 4em; //top bottom left right
    }

    .social-header {
        display: block; // brings elements back into view
        ul { // social stuff
            display: flex;
            justify-content: space-between;
            width: 7em;
            float: right;

            img { //sets size of elements
                width: 20px;
            }
        }
    }

    .hero {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;

        .content {
            background: #6E00FF;
            padding: 6em 8em 6em 4em;
            text-align: left;

            h1 {
                font-size: 3em;
                line-height: 1.2em;
            }
        }
    }
    .meet {
        margin: unset;
    }
    .hero-design { //for the design element, replace this section with the photo when done
        display: unset;
        margin-left: -50%;
        margin-top: 15%;
        width: 100%;
    }

    .portfolio img {
        float: right;
        max-width: 500px;
    }
}

@media only screen and (min-width: 1250px) {
    header {
        padding: 2em 2em 2em 10em;    
    }
    .social-header {
        padding: 2em 10em 2em 0;    
    }
    section {
        padding: 10em 10em 4em 10em;    
    }
    .hero .content {
        padding: 6em 8em 6em 10em;
    }
}

@media only screen and (min-width: 1550px) {
    header {
        padding: 2em 2em 2em 20em;    
    }
    .social-header {
        padding: 2em 20em 2em 0;    
    }
    section {
        padding: 6em 20em 4em 20em;    
    }
    .hero .content {
        padding: 9em 20em 6em 20em;
    }
}